body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: lightyellow;
}
.main{
    width: 80%;
    margin: 20px auto;
    padding: 5px;
    background-color: lightgray;
    border: 1px solid #999; /* Uma bordinha fina ajuda a definir o quadrado */
    color: coral;
}
ul{
    list-style-type: disc;     
}
ol{
    list-style-type: number;
}
li{
    color: coral;
    font-size: 20px;
}
.seleção{
    text-decoration: none;    /* Remove o sublinhado azul[cite: 1] */
    color: black;             /* Muda a cor para preto */
    font-family: sans-serif;  /* Usa uma fonte limpa[cite: 1] */
    text-transform: lowercase; /* Garante que fique tudo em minúsculo[cite: 2] */
}
.list-image{
    list-style-type: url('../img/favcon.png');
}
h1{
    color: white;
    margin: 60px auto;
    text-align: center;
    background-color: red;
}
h2{
    color: coral;
    margin: 40px auto;
    text-align: center;
    
}
h3{
    color: coral;
    margin: 30px auto;
    text-align: center bold;
    
}
p{    
    color: coral;    
    text-align: justify bold 40px;
}
.li{    
    color: coral;    
    text-align: justify;
}
img {
    max-width: 1000px; /* Não passa de 1000px, mas diminui em telas menores */
    width: 100%;       /* Tenta ocupar o espaço disponível */
    height: auto;      /* Mantém a proporção sem distorcer */
    display: block;
    margin: 20px auto;
}
.negrito-green{
    font-weight: bold;
    color: green;
}
.negrito{
    font-weight: bold;
    color: coral;
}
.black-negrito{
    font-weight: bold;
    color: black;
}
.red-negrito{
    font-weight: bold;
    color: red;
    text-align: 30px;
}
a{
    color:tomato;
}
a:hover{
    color:crimson;
    font-size: 25px;
    }
a:active{
    color:black;
    font-size: 30px;
    }
.btn{    
    padding: 20px 30px;
    border: 3px solid transparent;
}
.btn-01{
    background-color: none;
    color: red;
    border-color: red;
}
.btn-01:hover{
    background-color: cadetblue;
    color: salmon;
    font-size: 20px;
}
.btn-02{
    background-color: lightsalmon;
    border: 3px solid transparent;
    color: white;
}
.btn-02:hover{
    background-color: transparent;
    color: salmon;
    border: 3px solid  salmon;
    font-size: 20px;
}
.btn-03{
    border-radius: 50px;
}
.btn-04{
    background-color: goldenrod;
    border: 3px solid golden;
    color: white;
    margin-top: 20px;
    display: block;
    text-align: center;
}
